<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>チケット一覧</title>
</head>
<body>
<section layout:fragment="page-content">
    <h1 class="mt-3">チケット一覧</h1>
    <a class="btn btn-primary" href="./creationForm.html" th:href="@{/tickets/creationForm}" role="button">チケット作成</a>
    <table class="table mt-3">
        <thead>
        <tr>
            <th>#</th>
            <th>種別</th>
            <th>概要</th>
            <th>作成日</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${ticketList}">
            <th>
                <a href="./detail.html" th:href="@{/tickets/{id}(id=${ticket.ticketId})}" th:text="${ticket.ticketId}">
                    (id)
                </a>
            </th>
            <td th:text="${ticket.type}"></td>
            <td>
                <a href="./detail.html" th:href="@{/tickets/{id}(id=${ticket.ticketId})}" th:text="${ticket.summary}">
                    (summary)
                </a>
            </td>
            <td th:text="${ticket.createdAt()}">(createdAt)</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
