<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>ユーザー一覧</title>
</head>
<body>
<section layout:fragment="page-content">
    <h1>ユーザー一覧</h1>
    <a class="btn btn-primary" href="./creationForm.html" th:href="@{/admin/users/creationForm}" role="button">ユーザー作成</a>
    <table class="table">
        <thead>
        <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <th th:text="${user.userId}">(username)</th>
            <td th:text="${user.username}">(authority)</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>